<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/app.css">
  <title>Daniel Miller</title>
</head>
<body>
  <header>
    <div class="headerInner">
      <div class="row">
        <div class="small-12 medium-7 medium-offset-3 columns">
          <h1 class="text-center">Daniel Miller</h1>
          <hr/>
        </div>
      </div>
    </div>
  </header>
