@import url('https://fonts.googleapis.com/css?family=Aldrich|Russo+One|Source+Code+Pro|VT323');

@include breakpoint(small) {

  header {
    width: 100%;
    background-color: map-get($foundation-palette, primary);
    height: 10px;
    .headerInner {
      h2 {
        margin: 10px 0;
      }
    }
  }
  .dmPostItemContainer {
    margin-bottom: 22px;
    .dmPostHeader {
      font-size: 20px;
      text-align: center;
    }
    .dmPostExcerpt {
      margin-top: 12px;
    }
  }

  .dmMainContent {
  }
  .dmSiteInfo {
    img {
      border-radius: 50px;
    }
    p {
      margin-top: 14px;
    }
    .dmSocialIcons {
      i {
        padding-right: 12px;
      }
    }
  }

  .dmPostsContainer {
    margin-top: 30px;
  }
  footer {}
}

@include breakpoint(medium){
  .dmPostItemContainer {
    .dmPostHeader {
      text-align: left;
    }
  }
  .dmSiteInfo {
    border-right: 1px solid map-get($foundation-palette, primary);
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    .footerInner {
      margin: 0 auto;
    }
  }
}
