@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

@include breakpoint(small) {

  header {
    width: 100%;
    background-color: map-get($foundation-palette, primary);
    height: 10px;
    .headerInner {
      h1 {
        margin: 40px 0 20px 0;
      }
    }
  }

  .dmMainContent {
    .row.dmPostItemContainer {
      margin: 0 20px 20px 20px;
      background-color: map-get($foundation-palette, secondary);
      padding: 16px;
      /*box-shadow: 11px 11px 18px $black;*/
      .dmPostHeader {
        font-size: 22px;
        a {
          color: map-get($foundation-palette, primary);
          font-weight: lighter;
        }
      }
      .dmPostExcerpt {
        margin-top: 12px;
        p {
          line-height: 2.0;
        }
      }
      .dmPostCategories {
        .dmPostCategory {
          line-height: 40px;
          font-size: 14px;
          color: map-get($foundation-palette, primary);
        }
      }
    }
    .row.dmPostItemContainer:first-child {
      margin-top: 20px;

    }
  }

  .dmSiteInfo {
    img {
      border-radius: 100px;
    }
    p {
      margin-top: 14px;
      margin: 14px 12px;
    }
    .dmSocialIcons {
      margin: 20px auto;

      i {
        padding-right: 12px;
      }
    }
  }

  .dmPostsContainer {
    margin-top: 30px;
  }
  footer {
  }
}

@include breakpoint(medium){
  .dmMainContent {
    .row.dmPostItemContainer {
      .dmPostHeader {
        text-align: center;
        font-size: 30px;
      }
      .dmPostDate {
        text-align: center;
      }
      .dmPostCategories{
        text-align: center;
      }
    }
  }
  .dmSiteInfo {
    p {
      padding: 0 .9375rem;
    }
  }
  footer {
  }
}
